# All available hooks: https://pre-commit.com/hooks.html
# R specific hooks: https://github.com/lorenzwalthert/precommit
repos:
  - repo: https://github.com/lorenzwalthert/precommit
    rev: v0.4.3.9012
    hooks:
      # - id: style-files
      #   args: [--style_pkg=styler.mlr, --style_fun=mlr_style]
      #   additional_dependencies:
      #   - mlr-org/styler.mlr
      # - id: roxygenize
      #   additional_dependencies:
      #   -    checkmate
      #   -    data.table
      #   -    ggplot2
      #   -    mlr3
      #   -    mlr3misc
      #   -    paradox
      #   -    R6
      #   -    utils
      #   -    mlr3spatial
      #   -    blockCV
      #   -    sf
      #   -    sperrorest
      #   -    vctrs
      #   -    CAST
      #   -    ggsci
      # codemeta must be above use-tidy-description when both are used
      - id: use-tidy-description
      - id: readme-rmd-rendered
      - id: parsable-R
      - id: no-browser-statement
      # uncomment after https://github.com/lorenzwalthert/precommit/issues/352
      # - id: deps-in-desc
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: end-of-file-fixer
        exclude: '\.Rd'
  - repo: local
    hooks:
      - id: forbid-to-commit
        name: Don't commit common R artifacts
        entry: Cannot commit .Rhistory, .RData, .Rds or .rds.
        language: fail
        files: '\.Rhistory|\.RData|\.Rds|\.rds$'
        # `exclude: <regex>` to allow committing specific files.

ci:
    autoupdate_schedule: monthly
